pod-id=1

[mysql]
host=127.0.0.1
port=3306
user=root
password=secret
db=ChatCopilot
timezone=Asia/Shanghai

[redis]
host=127.0.0.1
port=6379
auth=secret
db=0

[log]
dir=logs
max-age=7

[jwt]
secret=sdfsgsxcwetxxxx
expire-secs=3600

[admin]
username=admin
password=$2a$10$SyEUGNBoxQX/7Iac1cqJCeLqrfpY9D1hMaeZLzH5KV2.mQqFCr0Y2

[wechat]
key=
path=./test

[task]
interval=10
crontab=*/10 * * * * *